@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color-white: 255, 255, 255;
  --color-dark-blue: 3, 32, 54;
  --color-main: 5, 140, 255;
  --font-body: "Open Sans";
  --font-heading: "Montserrat";
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(3, 32, 54, 1);
  font-family: var(--font-body), sans-serif;

}

a,
button {
  cursor: pointer;
}

.btn {
  font-family: inherit;
  display: inline-block;
  width: 8em;
  /* height: 2.6em; */
  line-height: 2.5em;
  /* margin: 20px 20px 10px 0; */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid;
  transition: color 0.5s;
  z-index: 1;
  /* font-size: 17px; */
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  outline: none;
}

.btn:focus {
  outline: 3px solid rgba(var(--color-main), 1);
  outline-offset: 2px;
}

.btn-primary {
  color: rgba(var(--color-main), 1);
  background-color: #ddd;
  border-color: rgba(var(--color-main), 1);
}

.btn-secondary {
  background-color: rgba(var(--color-main), 1);
  color: #ddd;
  border-color: rgba(var(--color-main), 1);
}

.btn-primary:before,
.btn-secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.btn-primary:before {
  background: rgba(var(--color-main), 1);
}

.btn-secondary:before {
  background: #ddd;
}

.btn-primary:hover {
  color: #ddd;
}

.btn-secondary:hover {
  color: rgba(var(--color-main), 1);
  border-color: rgba(var(--color-main), 1);
}

.btn-primary:hover:before,
.btn-secondary:hover:before {
  top: -30px;
  left: -30px;
}

.btn-primary:active:before,
.btn-secondary:active:before {
  background: rgba(var(--color-main), 1);
  transition: background 0s;
}